@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Perfis";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    @Html.ActionLink("Criar Novo Perfil", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Nome do Perfil")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>