@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<h2>Seja bem vindo, @UserManager.Users.SingleOrDefault(x => x.UserName == @UserManager.GetUserName(User)).Nome!</h2>
}
else
{
    <div class="row">
        <div class="col-md-3">
            <h2>Clientes</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Register">Realizar Cadastro</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="Login">Realizar Login</a>
        </div>
    </div>
}
